$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

#sumbit {
  width: 250px;
  margin: 20px 0 0 110px;
}

#load {
  margin-left: 10px;
}

#loadError {
  color: red;
}

#message {
  display: block;
  margin: 20px 210px;
}
